@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.cards{
    display: grid;
    place-items: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 15px;
  }
  
  .wrapper{
    padding: 10px;
  }
  

.Cards{
  position: relative;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5%;
  gap: 15px;
}

h2:after,
.cards .card figcaption,
.cards .card:after,h4,h6 {
  position: absolute;
}
.rel,
h2,
h2 strong,
.cards .card {
  position: relative;
}
.fix {
  position: fixed;
}
.dfix {
  display: inline;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.df,
.cards {
  display: flex;
}
.dif {
  display: inline-flex;
}
.dg {
  display: grid;
}
.dig {
  display: inline-grid;
}
.vm,
h2,
h2 strong,
h2 span {
  vertical-align: middle;
}
body {
  background: #24282f;
  font-family: 'Alegreya Sans';
}
.wrapper {
  padding: 15px;
}
h2 {
  padding: 10px;
  padding-left: 25px;
  color: #ccc;
  margin: 0;
}
h2 strong {
  z-index: 2;
  background: #24282f;
  padding: 4px 8px;
}
h2 span {
  font-size: 0.7em;
  color: #aaa;
  margin-left: 10px;
}
h2:after {
  content: '';
  z-index: 1;
  bottom: 50%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
  background: #373d47;
}
.cards {
  flex-flow: row wrap;
  padding-left: 40px;
}
.cards .card {
  margin: 15px;
  width: 200px;
  height: 310px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
}
.cards .card img {
  width: 100%;
  min-height: 100%;
}
.cards .card figcaption {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 210px;
  font-size: 24px;
  font-weight: 500;
  background: none;
  color: #d7e7eb;
  transform: translateY(100%);
  transition: 0.3s;
  background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
    
}

.cards .card h4{
  bottom: 0;
  left: 0;
  right: 0;
  padding: 18px;
  padding-bottom: 100px;
  font-size: 20px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
}
.cards .card h6{
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
}


.cards .card:after {
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.2  ;
  transform: rotate(45deg);
  background: linear-gradient(
    to top,
    transparent,
    rgb(255, 255, 255) 15%,
    rgba(202, 194, 194, 0.5)
  );
  transition: 0.3s;
}
.cards .card:hover,
.cards .card:focus,
.cards .card:active {
  box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}
.cards .card:hover figcaption,
.cards .card:focus figcaption,
.cards .card:active figcaption {
  transform: none;
}

.cards .card:hover h4,
.cards .card:focus h4,
.cards .card:active h4 {
  transform: none;
}

.cards .card:hover h6,
.cards .card:focus h6,
.cards .card:active h6 {
  transform: none;
}
.cards .card:hover:after,
.cards .card:focus:after,
.cards .card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}
 