.containerForm{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
.containerForm h3{
    font-size: 40px;
}
.containerForm form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 800px) {
    .containerForm form{
        grid-template-columns: 1fr ;

    }
    .containerForm h3{
        font-size: 28px;
    }
    .containerForm .messageError{
        grid-column: span 1;
    }
    .containerForm .botonCenter{
        grid-column: span 1;
    }
}

.listGenres{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    color: rgb(60, 156, 180);
}
.listGenres button:hover{
    background-color: rgb(60, 156, 180);;
    cursor: pointer;
}
.botonBack{
    padding-top: 15px;
    text-align: left;
    padding-left: 10%;
}
.errorSelect {
    font-size: 12px;
    margin-bottom: 0;
    color: #bb2929;
    display: block;
    margin-top: 2px;
}