
.initialPage{
    background: url('../assets/image3.jpg') no-repeat fixed center;
    background-position: center center;
    height: 100vh;
    background-size: cover;
    position: relative;
    
}
.title{
    color: var(--color-light);
    padding: 2px;
    font-size: 4.5rem;
    font-weight: 700;
    height: 80px;
    position: absolute;
    top: 25% ;
    right: 35%;
    background-image: linear-gradient(
        45deg,
        var(--base) 25%,
        var(--complimentary2)
      );
    box-shadow: 0.3 1.75rem 4rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.125);
    opacity: 0.7;
}
.buttonContainer{
    position: absolute;
    bottom: 20%;
    left: calc(50% - 100px);
}