

.Cards{
    display: grid;
    place-items: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.Paginado {
    display: flex;
}

.navBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    position: relative;
    background-color: brown;
    height: 120px;  
}
/* .image{
    background-image: url('../assets/logo5.png');
    background-size: cover;
    height: 50px;
    width: 50px;
    z-index: 100;
    background-color: transparent;
    opacity: 0.5;
}
 */
image {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
  }
  
  image::after {
    content: "";
    background-image: url('../assets/logo5.png');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 100;   
  }

/* FILTERS */
.filters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: brown;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin : 15px ;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 90%;
    height: 90%;
    line-height:50px;
    background: #5c6664;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px ;
 }
 .select::after {
    /* content: '\25BC'; */
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 2px;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }
.create{
    height: 40px;
    line-height: 40px;
    width: 100px;
    background-color: rgb(45, 133, 133);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    text-decoration: none;
}

.Home h3{
    font-weight: 550;
    padding: 2px;
    min-height: 14px;
    color: black;
}


.loading{
    font-size: 50px;
    animation: boldeando 2s infinite;
}
@keyframes boldeando{
    from {
        color: black;
    }
    to{
        color: rgb(255, 217, 0)
    }
}

/* SEARCHBAR*/

